[req]
default_bits        = 4096
prompt              = no
distinguished_name  = dn

[dn]
C                   = XY
ST                  = Here
L                   = There
O                   = Insecure Example Corp
OU                  = Java Devops
CN                  = iinsecure.example
emailAddress        = ivan.insecure@insecure.example
