name: ssrf server - develop

on:
  push:
    branches:
      - develop
    paths:
      - 'docker/ssrf-server/**'
  pull_request:
    branches:
      - develop
    paths:
      - 'docker/ssrf-server/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Cache local Maven repository
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Build with Maven
      run: cd docker/ssrf-server/resources/server && mvn -B package --file pom.xml
